{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <title>Сервіс обліку студентів - {% block meta_title %}{% endblock meta_title %}</title>
    <meta name="description" value="Система Обліку Студентів Навчального Закладу"/>
    <!-- Include Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}"/>
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>
    <!-- Start Container -->
    <div class="container">
        <!-- Start Header -->
        <div class="row" id="header">
            <!-- Logo -->
            <div class="col-xs-8">
                <h1>Сервіс Обліку Студентів</h1>
            </div>
            <!-- Groups Selector -->
            {% include './includes/select_groups.html' %}
        </div>
        <!-- End Header -->
        <!-- Start SubHeader -->
        <div class="row" id="sub-header">
            <div class="col-xs-12">
                {% url 'home' as main %}
    			      {% url 'journal' as journal_main %}
                {% url 'groups' as groups_main %}
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" {% if request.path == '/' %} class="active"{% endif %}><a href="{% url 'home' %}">Студенти</a></li>
                    <li role="presentation" {% if '/journal' in request.path %} class="active"{% endif %}><a href="/journal">Відвідування</a></li>
                    <li role="presentation" {% if '/groups' in request.path %} class="active"{% endif %}><a href="{% url 'groups' %}">Групи</a></li>
                </ul>
            </div>
        </div>
        <!-- End SubHeader -->
        <!-- Start Content Columns -->
        <div class="row" id="content-columns">
            <div class="col-xs-12" id="content-column">
                {% comment 'Not use alert so far' %}
                <!-- Status Message -->
                <div class="alert alert-warning">Зміни скасовано.</div>
                {% endcomment %}
                <div class="h2__wrapper">
                    <h2 class="h2__line">{% block title %}{% endblock title %}</h2>
                    <!-- Button -->
                    {% block content_button %}{% endblock content_button %}
                    <!-- End Button -->
                </div>
                {% block content %}{% endblock content %}
            </div>
        </div>
        <!-- End Content Columns -->
        <!-- Start Footer -->
        <div class="row" id="footer">group.leader
            <div class="col-xs-12">
                &copy; 2017-2018 Сервіс Обліку Студентів
            </div>
        </div>
        <!-- End Footer -->
    </div>
    <!-- End Container -->
    <!-- Javascripts Section -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>

</html>
